@charset "UTF-8";

body {
    background-color: #2D7338;
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {text-align: center;
    background: #46B358 ;
    color: white;
}

h1 {
    Color: white;}

h2 {Color: #1D596B;}

p {color: #ffffff;}

.basico {
    color: #5EF277;
}

.intermediario {
    color: #f2d75e;
}

.avancado {
    color: #f25e5e;
}

.destaque {
    background-color: rgba(175, 175, 107, 0.431);
}